AIRFLOW_SECRET_KEY=change-this-to-a-long-random-value

POSTGRES_USER=airflow_p
POSTGRES_PASSWORD=airflow_p-pass
POSTGRES_DB=airflow_p_db

AIRFLOW_USER=airflow-admin
AIRFLOW_PASSWORD=airflow-admin-pass
