POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

KESTRA_POSTGRES_DB=kestra
KESTRA_POSTGRES_USER=kestra
KESTRA_POSTGRES_PASSWORD=k3str4

KESTRA_USERNAME="admin@kestra.io" # it must be a valid email address
KESTRA_PASSWORD="Admin1234!"

SECRET_AWS_ACCESS_KEY_ID=<base64-value>
SECRET_AWS_SECRET_KEY_ID=<base64-value>
